* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.todo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-bottom: 5em;
}

.imagen {
    width: 200px;
    object-fit: contain;
    max-height: 100px;
    margin: auto;
    transition: all ease .3s;
}

.carta {
    background-color: darkgrey;
    padding: 1rem .5rem;
    min-height: 300px;
    border-radius: 15px;
    display: grid;
    transition: all ease .5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.carta:hover .imagen {

    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin: auto;
}

.carta:hover .titulo {
    opacity: 0;
    display: none;
}
.carta:hover .cantidad {
    opacity: 0;
    display: none;
}
.carta:hover .precio {
    opacity: 0;
    display: none;
}
.carta:hover .descripcion {
    opacity: 0;
    display: none;
}

.precio {
    transition: all ease .5s;
}

.titulo {
    transition: all ease .5s;
}
.botones ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}
.botones{
    width: 100%;
}


.agotado{
    position: absolute;
    width: 150%;
    height: 7rem;
    display: grid;
    place-items: center;
    background-color: rgba(255, 0, 0, 0.779);
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    transform: rotate(10deg);
    text-align: center;
    bottom: 0px;
    top: 35%;
    right: 0px;
    left: -30%;
}

.stock{
    display: none;
}

@media screen and (min-width:800px) {
    main{
        grid-template-columns: repeat(3,1fr);
    }
}